@import './fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; /* Larger width */
  height: 30px; /* Larger height */
  background: white; /* Black background */
  border: 2px solid rgb(75, 85, 99);
  cursor: pointer;
  border-radius: 50%; /* Make it circular */
}

input[type='range']::-moz-range-thumb {
  width: 30; /* Larger width */
  height: 30; /* Larger height */
  background: white; /* Black background */
  border: 2px solid rgb(75, 85, 99);
  cursor: pointer;
  border-radius: 50%; /* Make it circular */
}

.ellipse-hover:hover {
  background-color: rgba(173, 216, 230, 1); /* Full opacity on hover */
}

.hover-bounce {
  transition: transform 0.3s;
}

.hover-bounce:hover {
  transform: translateY(-10px);
}
