@tailwind base;
@tailwind components;
@tailwind utilities;

.helmet-container {
  display: flex;
  justify-content: space-around;
}

.helmet-info {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
  